In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk

In [7]:
df1 = pd.read_csv('text_emotion_updated.csv')
df1.head()

                                             content   sentiment
0  @tiffanylue i know  i was listenin to bad habi...       empty
1  Layin n bed with a headache  ughhhh...waitin o...     sadness
2                Funeral ceremony...gloomy friday...     sadness
3               wants to hang out with friends SOON!  enthusiasm
4  @dannycastillo We want to trade with someone w...     neutral

In [8]:
df2 = pd.read_csv('Emotion_final.csv')
df2.head()

                                                Text  Emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [9]:
df3 = df2.rename(columns={'Text': 'content', 'Emotion': 'sentiment'})

In [10]:
df3.head()

                                             content sentiment
0                            i didnt feel humiliated   sadness
1  i can go from feeling so hopeless to so damned...   sadness
2   im grabbing a minute to post i feel greedy wrong     anger
3  i am ever feeling nostalgic about the fireplac...      love
4                               i am feeling grouchy     anger

In [11]:
frames = [df1, df3]

In [12]:
result = pd.concat(frames)

In [13]:
result.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')