In [1]:
import numpy as np
import pandas as pd
import sklearn
import nltk

In [2]:
data = pd.read_csv("combined_data.csv")
data

      sentiment                                               Text
0       sadness  @tiffanylue i know  i was listenin to bad habi...
1       sadness  Layin n bed with a headache  ughhhh...waitin o...
2       sadness                Funeral ceremony...gloomy friday...
3         happy               wants to hang out with friends SOON!
4       neutral  @dannycastillo We want to trade with someone w...
...         ...                                                ...
61454      fear               Melissa stared at her friend in dism
61455     happy  Successive state elections have seen the gover...
61456      fear               Vincent was irritated but not dismay
61457     happy  Kendall-Hume turned back to face the dismayed ...
61458     happy                    I am dismayed , but not surpris

[61459 rows x 2 columns]

In [3]:
data["sentiment"].value_counts()

fear        16241
happy       13508
sadness      9796
neutral      8960
love         4720
anger        4069
surprise     2639
relief       1526
Name: sentiment, dtype: int64

In [4]:
# Removing punctuation, URL, and tags
import re
data['Text'] = data['Text'].apply(lambda x: re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)",'',x))

In [5]:
data.dropna(inplace=True)

In [6]:
print(data.shape)
data.head()

(61459, 2)

  sentiment                                               Text
0   sadness   i know  i was listenin to bad habit earlier a...
1   sadness  Layin n bed with a headache  ughhhhwaitin on y...
2   sadness                      Funeral ceremonygloomy friday
3     happy                wants to hang out with friends SOON
4   neutral   We want to trade with someone who has Houston...

#### Split Train and Test sets:

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data['Text'], 
                                                    data['sentiment'],test_size=0.20, 
                                                    random_state=1)

#### Word of Bags: Preprocessing

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
# Instantiate the CountVectorizer method
count_vector = CountVectorizer(stop_words='english')

# Fit the training data and then return the matrix
training_data = count_vector.fit_transform(X_train)

# Transform testing data and return the matrix. 
testing_data = count_vector.transform(X_test)

In [9]:
training_data.shape

(49167, 39268)

### Multinomial Naive Bayes

In [10]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data,y_train)

MultinomialNB()

In [11]:
predictions = naive_bayes.predict(testing_data)

In [12]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: {}'.format(accuracy_score(y_test, predictions)))

Accuracy score: 0.35746827204685977