In [3]:
import numpy as np
import pandas as pd
pd.set_option("display.precision", 4)
pd.set_option('display.max_columns',None)
emoFinal = pd.read_csv('Emotion_final.csv')
textEmo = pd.read_csv('text_emotion.csv')

In [14]:
emoFinal.columns

Index(['Text', 'Emotion'], dtype='object')

In [13]:
textEmo.columns

Index(['tweet_id', 'sentiment', 'author', 'content'], dtype='object')

In [11]:
emoFinal.value_counts('Emotion')

Emotion
happy       7029
sadness     6265
anger       2993
fear        2652
love        1641
surprise     879
dtype: int64

In [37]:
textEmo.value_counts("sentiment")

sentiment
neutral       8638
fear          8459
happy         6985
sadness       5992
love          3842
surprise      2187
relief        1526
anger         1433
enthusiasm     759
boredom        179
dtype: int64

In [39]:
for i,s in enumerate(textEmo['sentiment']):
    if s == 'worry':
        textEmo.loc[i,'sentiment'] = 'fear'
    if s == 'happiness':
        textEmo.loc[i,'sentiment'] = 'happy'
    if s == 'fun':
        textEmo.loc[i,'sentiment'] = 'happy'
    if s == 'hate':
        textEmo.loc[i,'sentiment'] = 'anger'
    if s == 'empty':
        textEmo.loc[i,'sentiment'] = 'sadness'
    #drop relief, enthusiasm, boredom
    if s == "relief" or s == 'enthusiasm' or s == 'boredom':
        textEmo.drop(index=[i])

In [40]:
textEmo.value_counts("sentiment")

sentiment
neutral       8638
fear          8459
happy         6985
sadness       5992
love          3842
surprise      2187
relief        1526
anger         1433
enthusiasm     759
boredom        179
dtype: int64

In [41]:
textEmo['Emotion'] = textEmo['sentiment']

In [42]:
textEmo['Text'] = textEmo['content']

In [44]:
textEmo.drop(columns=['tweet_id', 'sentiment', 'author', 'content'])

          Emotion                                               Text
0         sadness  @tiffanylue i know  i was listenin to bad habi...
1         sadness  Layin n bed with a headache  ughhhh...waitin o...
2         sadness                Funeral ceremony...gloomy friday...
3      enthusiasm               wants to hang out with friends SOON!
4         neutral  @dannycastillo We want to trade with someone w...
...           ...                                                ...
39995     neutral                                   @JohnLloydTaylor
39996        love                     Happy Mothers Day  All my love
39997        love  Happy Mother's Day to all the mommies out ther...
39998       happy  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999        love  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [49]:
ds3 = pd.DataFrame()

In [50]:
ds3['Emotion'] = textEmo['Emotion'] + emoFinal['Emotion']
ds3['Text'] = textEmo['Text'] + emoFinal['Text']

In [52]:
ds3.shape

(40000, 2)