# <center>Cleaning Text Dataset

This notebook contains code for cleaning and preprocessing test data from https://www.kaggle.com/ishantjuyal/emotions-in-text?select=Emotion_final.csv.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk

In [2]:
import pandas
df_text = pd.read_csv('Emotion_final.csv',encoding='latin-1')
df_text.head()

                                                Text  Emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [3]:
df_text.tail()

                                                    Text Emotion
21454               Melissa stared at her friend in dism    fear
21455  Successive state elections have seen the gover...    fear
21456               Vincent was irritated but not dismay    fear
21457  Kendall-Hume turned back to face the dismayed ...    fear
21458                    I am dismayed , but not surpris    fear

In [4]:
#Number of observations in each label spam and ham
df_text.Emotion.value_counts()

happy       7029
sadness     6265
anger       2993
fear        2652
love        1641
surprise     879
Name: Emotion, dtype: int64

In [5]:
df_text.describe()

                                                     Text Emotion
count                                               21459   21459
unique                                              21405       6
top     i was sitting in the corner stewing in my own ...   happy
freq                                                    2    7029

In [6]:
df_text['length'] = df_text['Text'].apply(len)
df_text.head()

                                                Text  Emotion  length
0                            i didnt feel humiliated  sadness      23
1  i can go from feeling so hopeless to so damned...  sadness     108
2   im grabbing a minute to post i feel greedy wrong    anger      48
3  i am ever feeling nostalgic about the fireplac...     love      92
4                               i am feeling grouchy    anger      20

In [7]:
print (f"Maximum length of text is {max(df_text['length'])}")

Maximum length of text is 307

In [8]:
print (f"Minimim length of text is {min(df_text['length'])}")

Minimim length of text is 7

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_text['Text'], 
                                                    df_text['Emotion'],test_size=0.20, 
                                                    random_state=1)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
# Instantiate the CountVectorizer method
count_vector = CountVectorizer()

# Fit the training data and then return the matrix
training_data = count_vector.fit_transform(X_train)

# Transform testing data and return the matrix. 
testing_data = count_vector.transform(X_test)

In [11]:
print (training_data.shape)

(17167, 17126)

In [12]:
print (testing_data.shape)

(4292, 17126)